<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KUBECON EU 2021</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body>
    <header>
        <h1>KUBECON EU 2021</h1>
        <p>
            Tell me who is awesome??
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
        <p><center>Powered by <b>Saiyam and Karthik</b> </center></p>
    </main>

</body>
